%center
  = select("genre", "name", Genre.all.collect { |g| [g.name, g.id] }, {include_blank: 'genre'})

  = select("feeling", "name", Feeling.all.collect {|f| [f.name, f.id] }, {include_blank: 'feeling'})

%br

- @song_frames.each do |song, id, num_stars, has_user_star|
  = raw song
  - if current_user
    .left
      = form_tag do
        = text_field_tag "feeling-#{id}", nil, {placeholder: 'how does this song feel?', required: true}
        = submit_tag 'tag'
    .right
      .num-stars
        = num_stars

      - if has_user_star
        .star.star-on{data:{id: id}}
      - else
        .star.star-off{data:{id: id}}
    %br
  %br
  %br
  %br
  %br

