%center
  = select("genre", "name", @genres.collect { |g| [g.name, g.name] if g and g.name }, {include_blank: 'genre'})

  = select("feeling", "name", @feelings.collect {|f| [f.name, f.name] if f and f.name }, {include_blank: 'feeling'})

  %select{id:'popularity', name:'popularity'}
    %option{value:nil}popularity
    %option{value:'top'}top hits
    %option{value:'bottom'}hidden gems

%br

- @song_frames.each do |song, id, num_stars, has_user_star|
  = raw song
  - if current_user
    .left
      = form_tag(nil, {:class => 'feeling-form'}) do
        = text_field_tag 'feeling', nil, {placeholder: 'how does this song feel?', 'data-id' => id, required: true}
        = submit_tag 'tag'
    .right
      .num-stars{title:"#{num_stars} stars"}
        = num_stars

      - if has_user_star
        .star.star-on{data:{id: id}}
      - else
        .star.star-off{data:{id: id}}
      %a.addthis_button_compact{'addthis:url' => "http://advertunes.org/music/#{id}", 'addthis:title' => 'Check out this song I found!'}
        .share

    %br
  %br
  %br
  %br
  %br

