%html
  %head
    %title Advertunes
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    %meta{content:"width=device-width", name:"viewport"}
    %meta{name:"apple-mobile-web-app-capable", content:"yes"}
    = csrf_meta_tags

    %script{src:"//s7.addthis.com/js/300/addthis_widget.js#pubid=harrisonpowers"}
    :javascript
      addthis_config =
      {
        ui_click: true
      }

  %body

    #super-header
      .left
        - if current_user
          .left.point9
            %a{href:'/soundcloud/music'}
              = image_tag 'contribute.png'
        - else
          .soundcloud-connect.left.point9
            = image_tag 'connect.png'

        - if current_user
          .left.point9
            %a{href:'/music'}
              = image_tag 'listen.png'

      - if current_user
        .right.point9.right-cushion
          %a{href:'/soundcloud/disconnect'}
            = image_tag 'disconnect.png'

      - else
        .right.point9.right-cushion
          %a{href:'/music'}
            = image_tag 'listen.png'

    #header
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
        %br

      %a{href:"/"}
        %h1.point9 ADVERTUNES

      - if @index
        %h3
          %i
            royalty-free music
            %br
            licensed for advertising

    #container
      = yield
