%html
  %head
    %title Advertunes
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    %meta{content:"width=device-width", name:"viewport"}
    %meta{name:"apple-mobile-web-app-capable", content:"yes"}
    = csrf_meta_tags

  %body

    #super-header
      .left
        - if current_user
          .left
            %a{href:'/soundcloud/music'}
              = image_tag 'radio-small.png'
              Contribute
        - else
          .soundcloud-connect.left
            = image_tag 'connect-button.png'

        - if current_user
          .left
            %a{href:'/music'}
              = image_tag 'sound-small.png'
              Listen

      - if current_user
        .right
          %a{href:'/soundcloud/disconnect'}
            = image_tag 'disconnect.png'

      - else
        .right
          %a{href:'/music'}
            = image_tag 'sound-small.png'
            Listen

    #header
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"
        %br

      %a{href:"/"}
        %h1 ADVERTUNES

      - if @index
        %h3
          %i
            royalty-free music
            %br
            licensed for advertising

    #container
      = yield
